

    <div class="row justify-content-center">
        <h1>MI PERFIL</h1>
    </div>

    <br>
    
    <div class="row justify-content-center">
        <div class="col col-lg-5">         

            <div class="col col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/images/profile/profile1.png"  class="mx-auto d-block" alt="" width="250" >
                        <p class="mt-3">Actualizar Imagen</p>
                        <input type="file" class="" name="" id=""  required=""   >
                    </div>
                </div>
            </div>

            <div class="col col-lg-12 mt-4">
                <div class="card ">
                    <div class="card-header bg-primary" style="color:white;" > <b> Datos Colegio</b></div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <p><b>Salón:</b>  3 años</p>                                
                                <p><b>Sección:</b>  Amarillo</p>                                
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col col-lg-1"></div> -->
        <div class="col col-lg-7">
            <div class="card mb-4 box-shadow">
                <div class="card-header bg-primary" style="color:white;" > <b> Datos Personales</b></div>
                <div class="card-body">
                    <form >
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="">Nombres</label>
                                <input type="text" class="form-control" name="" id=""  required="" value="Lucia" > 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="">Apellidos</label>
                                <input type="text" class="form-control" name="" id=""  required=""  value="Rojas Torres" > 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="">Correo</label>
                                <input type="email" class="form-control" name="" id=""  required="" value="lucia.rojas@gmail.com" > 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="">Teléfono</label>
                                <input type="number" class="form-control" name="" id=""  required=""  value="979375491" > 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="">Dirección</label>
                                <input type="text" class="form-control" name="" id=""  required=""  value="" > 
                            </div>
                        </div>
    
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <button class="btn btn-lg btn-info" type="submit"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Guardar</button>
                                &nbsp;
                                <button class="btn btn-lg btn-success" type="reset"><i class="fa fa-repeat" aria-hidden="true"></i> Reset</button>
                            </div>
                        </div>
                    </form>                   

                </div>
            </div>
            
        </div>
    </div>
