<div class="row justify-content-center mb-4">
    <h1>MANTENIMIENTO DE USUARIO</h1>
</div>

<div class="row justify-content-center">
    <div class="col col-lg-12"> 
        <div class="card ">
            <div class="card-header bg-primary" style="color:white;" > <b>Filtros</b></div>
            <div class="card-body">                                         
                <div class="form-body">
                    <div class="row" >                   
                        <div class="col col-lg-8 ">
                            <form >
                                <div class="form-group row " >
                                    <label class="control-label  col col-lg-3 "><b>DNI Profesor:</b></label>
                                    <div class="col col-lg-4">
                                        <input type="text" class="control-label">
                                    </div>
                                    <div class="col col-lg-4 ">
                                        <button class=" btn btn-info" ><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col col-lg-4">
                            <div class="pull-right">
                                <a href="#" class="btn btn-primary" ><span class="fa fa-plus"></span> Agregar Usuario</a>
                            </div>
                        </div>
                    </div>               
                </div>
                <div class="col col-lg-12 justify-content-center">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered  tablesorter" >
                                <thead>
                                    <tr style="text-align:center">                                
                                        <th>NOMBRES</th>
                                        <th>APELLIDOS</th>
                                        <th>DNI</th>                                
                                        <th>CORREO</th>
                                        <th>TELEFONO</th> 
                                        <th>ACCIÓN</th>                                
                                    </tr>
                                </thead>
                                <tbody >    
                                    <tr>
                                        <td>Lucia</td>
                                        <td>Rojas Torres</td>
                                        <td>88888888</td>
                                        <td>lucia.rojas@gmail.com</td>
                                        <td>979375491</td>
                                        <td>
                                            <a type="button" class="btn btn-info" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;
                                            <a type="button" class="btn btn-danger" ><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        </td>    
                                    </tr>                                       
                                    <tr>
                                        <td>Avril</td>
                                        <td>Villagaray</td>
                                        <td>Ayala</td>
                                        <td>77777777</td>
                                        <td>993316399</td>
                                        <td>
                                            <a type="button" class="btn btn-info" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;
                                            <a type="button" class="btn btn-danger" ><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>    
                        </div>
                    </div>                
                </div>
            </div>    
        </div>
    </div>
</div>
  
  
