


<div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 mb-3 border-bottom box-shadow" style="background-color: #EFF8FE;">  
  <a routerLink="registertime" class="my-0 mr-md-auto"> <img src="assets/images/logo.png"  alt=""></a>
  <nav class="my-2 my-md-0 mr-md-3" style=""  >
      <a class="p-2 text-dark" href="registertime"><b>Marcación</b></a>
      <a class="p-2 text-dark" href="attendance"><b>Mi Asistencia</b></a>
      <a class="p-2 text-dark" href="search"><b>Buscar</b></a>
      <a class="p-2 text-dark" href="user"><b>Usuarios</b></a>
      <a class="p-2 text-dark" href="profile"><b>Mi Perfil</b></a>    
      <a class="p-2 text-dark" href="login"><b>Salir</b></a>    
  </nav>
  
</div>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto ">
  <main role="main" class="container">
    <router-outlet></router-outlet>
  </main>
</div>


