
<div class="row justify-content-center">
    <h1>ASISTENCIA DEL MES</h1>
  </div>
  
  <br>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
                <img src="assets/images/profile/profile1.png"  class="" alt="" width="120" >
        </div>        
        <div class="col col-lg-4 mt-4">
            <p> <b>Día</b> : Lunes</p>
            <p> <b>Fecha</b> : 01-04-2021</p>
        </div>
        <div class="col col-lg-4 mt-4">
            <p> <b>Hora Ingreso:</b> 7:30 </p>
            <p> <b>Hora Salida:</b>  14:00 </p>
    
        </div>
    
        <div class="col col-lg-2 mt-4">
            <p> <b>Tardanza:</b> 0 </p>    
        </div>   
    </div>

    <hr>

    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
                <img src="assets/images/profile/profile1.png"  class="" alt="" width="120" >
        </div>        
        <div class="col col-lg-4 mt-4">
            <p> <b>Día</b> : Martes</p>
            <p> <b>Fecha</b> : 02-04-2021</p>
        </div>
        <div class="col col-lg-4 mt-4">
            <p> <b>Hora Ingreso:</b> 7:35 </p>
            <p> <b>Hora Salida:</b>  14:10 </p>
    
        </div>
    
        <div class="col col-lg-2 mt-4">
            <p> <b>Tardanza:</b> 5:00</p>    
        </div>   
    </div>

    <hr>

    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
                <img src="assets/images/profile/profile1.png"  class="" alt="" width="120" >
        </div>        
        <div class="col col-lg-4 mt-4">
            <p> <b>Día</b> : Miercoles</p>
            <p> <b>Fecha</b> : 03-04-2021</p>
        </div>
        <div class="col col-lg-4 mt-4">
            <p> <b>Hora Ingreso:</b> 7:32 </p>
            <p> <b>Hora Salida:</b>  14:00 </p>
    
        </div>
    
        <div class="col col-lg-2 mt-4">
            <p> <b>Tardanza</b> 2:00 </p>    
        </div>   
    </div>

    
</div>


